@font-face {
  font-family: "AkkuratLLWeb-Black";
  src: url("./fonts/AkkuratLLWeb-Black.woff2");
}
@font-face {
  font-family: "AkkuratLLWeb-Bold";
  src: url("./fonts/AkkuratLLWeb-Bold.woff2");
}
@font-face {
  font-family: "AkkuratLLWeb-Regular";
  src: url("./fonts/AkkuratLLWeb-Regular.woff2");
}
@font-face {
  font-family: "AkkuratMonoLLWeb-Bold";
  src: url("./fonts/AkkuratMonoLLWeb-Bold.woff2");
}
@font-face {
  font-family: "AkkuratMonoLLWeb-Regular";
  src: url("./fonts/AkkuratMonoLLWeb-Regular.woff2");
}
@font-face {
  font-family: "GT-America-Compressed-Black";
  src: url("./fonts/GT-America-Compressed-Black.woff2");
}
@font-face {
  font-family: "GT-America-Compressed-Medium";
  src: url("./fonts/GT-America-Compressed-Medium.woff2");
}
body {
  font-family: AkkuratLLWeb-Regular,-apple-system,BlinkMacSystemFont,sans-serif;
}
html,
body,
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h4 {
  margin: 0;
}

body {
  padding: 25px;
  background-color: rgb(17, 17, 19);
  box-sizing: border-box;
  min-height: 100vh;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-space {
  display: flex;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  justify-content: space-around
}
.flex-middle {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-start {
  display: flex;
  align-items: flex-start;
}
.flex-col {
  flex-direction: column;
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.d-button {
  font-size: 15px;
  line-height: 15px;
  font-family: AkkuratLLWeb-Bold;
  color: rgb(153, 153, 153);
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 100px;
}

.d-button:hover {
  background: rgb(37, 37, 37);
  /* color: rgb(236, 232, 227); */
}
.d-button.active {
  color: rgb(236, 232, 227);
}

.e-button {
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  padding: 0px 14px;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  white-space: nowrap;
  color: rgb(236, 232, 227);
  transition: all 0.1s ease-in-out 0s;
  background: rgb(37, 37, 37);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
  font-family: AkkuratMonoLLWeb-Regular;
  height: 41px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-button svg {
  fill: rgb(236, 232, 227);
  margin-right: 5px;
}
.e-button.trans svg {
  fill: rgb(120, 120, 120);
}
.e-button.trans.active svg,
.e-button.trans:hover svg{
  fill: rgb(236, 232, 227);;
}
.e-button.trans {
  background-color: transparent;
  color: rgb(120, 120, 120);
}
.e-button.highlight {
  color: rgb(236, 232, 227);
}
.e-button.bold {
  font-family: AkkuratLLWeb-Bold;
}
.e-button.trans.active,
.e-button.trans:hover {
  background: rgb(43, 42, 42);
  color: rgb(236, 232, 227);
}
.e-button.active,
.e-button:hover {
  background: rgb(43, 42, 42);
}

.e-button.disabled {
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: transparent!important;
  cursor: not-allowed;
  color: rgb(53, 51, 51)!important;
}
.e-button.disabled svg {
  color: rgb(53, 51, 51)!important;
}

.border {
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .mobile-wrap {
    flex-wrap: wrap;
  }
  /* .mobile-wrap > * {
    margin: 10px 0 0 10px;
  } */
  .mobile-grid-wrap { 
    grid-template-columns: 1fr!important;
  }
}